<% content_for :home_content do %>
    <div class="container">
      <div class="home-content">
        <h1>Pet Outfits Elite</h1>
      </div>
      <video poster="http://thenewcode.com/assets/images/poly-dog.png" id="bgvid" playsinline autoplay muted loop>
        <!-- <source src="http://thenewcode.com/assets/videos/jupiter.webm" type="video/webm"> -->
        <!-- <source src="http://thenewcode.com/assets/videos/jupiter.mp4" type="video/mp4"> -->
      </video>
    </div>
<% end %>
